:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;

  --color-text-rgb: 240 250 255;
  --color-text: rgba(var(--color-text-rgb) / 0.87);
  --color-subtitle: rgba(var(--color-text-rgb) / 0.55);
  --color-body-text: var(--color-subtitle);
  color: var(--color-text);

  --color-background: #1b1c20;
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --font-family-inter-tight: "Inter Tight", "Inter", system-ui, Avenir,
    Helvetica, Arial, sans-serif;

  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 16px;
  --space-5: 24px;
  --space-6: 32px;
  --space-7: 40px;
  --space-8: 48px;
  --space-9: 64px;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #2684ff;
  text-decoration: inherit;
}
a:hover {
  color: #2684ff;
}

html,
body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

p {
  color: var(--color-body-text);
}
