[submodule "webapp/vendor/sql.js"]
	path = webapp/vendor/sql.js
	url = git@github.com:cxcorp/sql.js.git
	branch = es-module-build
[submodule "recommender/data/scp-api"]
	path = recommender/data/scp-api
	url = git@github.com:scp-data/scp-api.git
	shallow = true
